.question-container {
    text-align: center;
    margin-top: 50px;
}

.question-text {
    font-size: 24px;
}

.responses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.response {
    width: calc(50% - 20px); /* Ajuster en fonction de la marge */
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; /* Pour inclure la bordure et le padding dans la largeur */
}

.response-label {
    font-size: 20px;
    font-weight: bold;
}

.response-text {
    font-size: 16px;
}

/* Ajustement pour les écrans plus larges, si nécessaire */
@media (min-width: 600px) {
    .response {
        width: calc(50% - 20px); /* Ajustez la largeur ici si nécessaire */
    }
}