.question-container {
    text-align: center;
    color: #333; /* Couleur de texte moderne */
}

.question-text {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.responses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.response {
    position: relative;
    width: calc(40%);
    height: 230px;
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.table-response-circle {
    position: relative;
    width: 110px; 
    height: 110px;
    border-radius: 50%; 
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.0rem;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 2px;
    border: 2px solid #000;
}

.order-indicator {
    position: absolute;
    top: -10px;
    right: -15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border: 2px solid #000;
}

.first-place {
    background-color: gold;
}

.response.selected {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.02);
}

.response-label {
    font-size: 60px;
    font-weight: bold;
}

.response-text {
    font-size: 50px;
    padding-bottom: 20px;
}

.question-progress-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
}

.progress-bar-container {
    width: 100%;
    height: 40px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 25px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);

}

.progress-bar {
    height: 100%;
    background-color: lightgreen;
    transition: width 1s ease-out;
}

.response-content.full-width {
    width: 100%;
}

.response-content {
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.response-separator {
    width: 2px;
    background-color: black;
    height: 100%;
    float: left;
}

.response-remaining {
    width: 38%;
    height: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

@keyframes blink {
    0% { background-color: #34eb3d; }
    50% { background-color: lightgrey; }
    100% { background-color: #34eb3d; }
}
  
@keyframes growAndShrink {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
  
.response.correct.full-size {
    animation: blink 1s linear 4, growAndShrink 4s ease-in-out;
}
  
  
@media (max-width: 600px) {
    .response {
        width: calc(100% - 20px);
    }
}